
data_train
log
outputs*
CF
*.h5ad
*.log
*.pyc
*.ipynb

# ===== data / output =====
data_gab/
data_train/
outputs/
outputs_*/
checkpoints/
*.pt
*.pth
*.ckpt
*.h5ad
*.npz
*.log
*.cache
*.h5
.vscode

# ===== system =====
__pycache__/
*.pyc
*.pyo
*.DS_Store

# ===== large models =====
*.bin
*.safetensors

# ===== experiment =====
runs/
wandb/
*debug*
download.py

*.txt
*.npy
*.csv
*.json
*.tsv
*.pkl